<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/">Home</a></span>
  <h1>Nobody Dies in Longyearbyen</h1>
  <img src="https://en.visitsvalbard.com/imageresizer/?image=%2Fdmsimgs%2FE600D47425B2C241EB591A284DDE5C21ECC31B67.jpg&action=ProductDetailProFullWidth&crop=4D037D0DBBC22CD55D8AF767F9">
</body>
</html>