<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/">Home</a></span>
  <h1>Socotra</h1>
  <img src="https://www.nationalgeographic.com/content/dam/environment/2018/10/socotra/01_socotra_nationalgeographic_2708459.jpg" alt="">
</body>
</html>