<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <a href="/">Home</a></span>
  <h1>Solovetsky Islands</h1><span>
  <img src="https://i.dailymail.co.uk/i/pix/2013/11/04/article-2487290-192FC96800000578-337_964x610.jpg" alt="">
</body>
</html>